@import "../abstracts/variables";

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;

  //front-side image
  &__picture {
    background-size: cover;
    height: 10rem;
    &--1 {
      background-image: url("../../img/nat-5.jpg") ;
    }

    &--2 {
      background-image: url("../../img/nat-6.jpg") ;
    }
    &--3 {
      background-image: url("../../img/nat-7.jpg") ;
    }

  }

  &__heading {
    position: absolute;
    font-size: 2.5rem;
    text-transform: uppercase;
    top: 5rem;
    right: 3rem;
    color: $color-secondary-dark;
  }

  &__details {
    color: $color-secondary-light;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__side {
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    height: 50rem;
    color: #fff;
    transition: all .8s;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;

    &--front {
      background-color: white;

      &-1 {
        position: absolute;
        top: 0;
        left: 0;
      }

      &-2 {
        position: absolute;
        left: 420px;
      }

      &-3 {
        position: absolute;
        left: 840px;
      }
    }

    &--back {
      //background-color: green;
      transform: rotateY(180deg);

      &-1 {
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        position: absolute;
        left: 420px;
      }

      &-3 {
        position: absolute;
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        left: 840px;
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }


  &__price-box {
    margin-top: 10rem;
    text-align: center;
  }

  &__price-only {
    color: white;
  }
  &__price-value {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
  }

}

