@import "../abstracts/variables";
@import "../abstracts/mixins";

.u-center-text {
  text-align: center !important;
}

.u-design {
  text-align: center !important;
}
.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}
.u-margin-top-huge { margin-top: 10rem !important; }

.u-margin-bottom-6 {
  margin: 6rem !important;

  @include respond(tab-port) {
    margin-bottom: 6rem !important;
  }
}

.icon {
  width: 10px;
  font-size: 5rem;

  color: $color-primary;
  -webkit-background-clip: text;
}

.footer-menu {
  position: absolute;
  margin-top: 10rem;
  left: 6rem;
  display: inline-block;
  border-top: 3px solid rgba(253, 127, 187, 0.99);
}

.footer-copyright {
  position: absolute;
  width: 30rem;
  margin-top: 10rem;
  left: 80rem;
  display: inline-block;
  border-top: 3px solid rgba(253, 127, 187, 0.99);
}