@import "../abstracts/variables";

.u-center-text {
  text-align: center;
  align-items: center;
}

.u-design {
  text-align: center;
}

.u-margin-bottom-6 {
  margin: 6rem;
}

.icon {
  width: 10px;
  font-size: 5rem;

  color: $color-primary;
  -webkit-background-clip: text;
}

.ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;

  li {
    text-align: center;
    padding: 1rem;
  }
}

.footer-menu {
  position: absolute;
  margin-top: 10rem;
  left: 6rem;
  display: inline-block;
  border-top: 3px solid rgba(253, 127, 187, 0.99);
}

.footer-copyright {
  position: absolute;
  width: 30rem;
  margin-top: 10rem;
  left: 80rem;
  display: inline-block;
  border-top: 3px solid rgba(253, 127, 187, 0.99);
}