@import "../abstracts/variables";

.section-about {
  width: 130rem;
  clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
  background-size: cover;
  margin-top: -20vh;
  padding: 100px;
  height: 100%;
}